
:root{
--color-principal: #007AEE ;
--color-secundario: #1768BB;
--text-color: #001326;
--text-color-2: #DFEFFF;
--font-principal: "citrus-gothic-solid", sans-serif;
--font-text: "trade-gothic-next", sans-serif;
}

*{
    margin: 0px;
    text-decoration:none;
    color: #001326;
}

p{
    font-family: var(--font-text);
}

h1{
    font-family: var(--font-principal);
}

#header{
    display: flex;
    justify-content: center;
    background: #7707ff;
}

#iten-header{
    background-color: var(--color-principal);
    display: inline-block;
    font-family: var(--font-principal);
    color: var(--text-color);
    margin: 2px;
    padding: 6px;
    border-radius: 12px;
}

#iten-header:hover{
background-color: var(--color-secundario);
padding: 8;
}

#homesection{
    display: grid;    
    width: 1200;
    height: 1200;
    grid-template-columns: 1fr 1fr;
}

#img-homesection{
    width: 600px;
    height: 300px;
}

.title{
font-family: var(--font-principal);
color: var(--text-color);
text-align: center;
margin-top: 5%;
}

.text-secundary-home{
    text-align: center;
}

#animation{
    height: 100px;
    width: 100px;
    background: #001326;
    animation-name: teste;
    animation-duration: 5s;
}

/**#animation :hover{

}*/

@keyframes teste {
    0%{
        background: #001326;
    }
    50%{
        background: #DFEFFF;
    }
    100%{
        background: #1768BB;
    }
}